* {
    box-sizing: border-box;
}

/* Make each col- class float to left with padding */
[class*="col-"] {
	float: left;
	padding: 1em;
	width: 100%;
}

/* Makes sure no space is wasted in row and only specified elements come*/
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Media query - sets widths for all columns on screens more than 768px wide*/
@media only screen and (min-width: 768px) {
	/* For desktops: */
	/* Setting up 12 columns */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0px auto;
	max-width: 50em;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1,
h2,
h3 {
	line-height: 1.2
}

header a {
	text-decoration: none;
	color: #FFF;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

a {
	text-decoration: none;
	color: #888;
}

a:hover {
	text-decoration: underline;
}

div.profilepicture {
	display: inline-block;
	padding: 1em;
}

div.whoamitext {
	display: inline-block;
	vertical-align: middle;
	align: middle;
	padding: 1em;
}

img.profile-picture {
	width:100%;
	min-width:10em;
	height:auto;
	border-radius:100%;
	border:1px solid #000000;
	vertical-align: inherit;
}

img.project-picture {
	width: 8em;
	height:auto;
	border-radius:100%;
	// border:1px solid #000000;
	// padding-left: -1em;
}

ul.projects {
	list-style-type: none;
}

th, td {
	padding: 1em;
}

tr.project-name th {
}

th {
	text-align: left;
}

/* table {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
} */ 

h1, h2, h3, h4, th {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

ul.social-media-list {
	list-style-type: none;	
}

ul.social-media-list li {
	display: inline;
	padding: 1em;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444444;
	font-size: 2em;
	color: #000000;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #444444;
	font-size: 1.5em;
	color: #FFFFFF;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

.fa {
	display: inline-block;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialised;
}

footer i {
	margin: 0 10px;
}

.fa-facebook {
	color: white;
}

.fa-twitter{
	color: white;
}

.fa-instagram{
	color: white;
}

.fa-medium{
	color: white;
}

.fa-github{
	color: white;
}

.fa-linkedin{
	color: white;
}

.fa-code{
	color: white;
}

.overflowable {
	overflow-x: auto;
	padding: 0px;
	margin: 0px;
}
