body {
	background-color:#AAAAAA;
	font-family: 'Playfair Display', serif;
}

.content {
	background-color:#CCCCCC;
	font-family: inherit;
}

.get-highlighted {
	border-top: 2px solid #222222;
	border-bottom: 2px solid #222222;
}
