---
layout: default
---

<a href="{{ "/" | absolute_url }}" style="float:left">&lt; back to main page</a> <a href="{{abolute_url}}/blog.html" style="float:right">more posts &gt;</a><br>
<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

<br>
<p><b>Like what you're reading?</b></p>
<div style="width:100%; height:auto; margin-top:-1rem; margin-bottom:1rem">
  <center>
    <a href="https://vazzup.substack.com">
      <button style="font-size:14px; padding: 0 12px; height:40px;
        border: 0px; border-radius: 4px; background-color:#121bfa;
        color:#fff; text-decoration: none!important; display:inline-block;">
        Subscribe to my Newsletter!
      </button>
    </a>
  </center>
</div>

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
